@font-face {
    font-family: 'Consolas';
    src: url('/public/fonts/Consolas.ttf');
}

@font-face {
    font-family: 'Outage';
    src: url('/public/fonts/Outage.ttf');
}

body {
    padding: 0;
    margin: 0;
    font: 14px "Consolas", Serif;
}

#chat {
    position: fixed;
    display: none;
    bottom: 0;
    right: 5vw;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #EFEFEF;
    width: 500px;
    min-height: 50px;
    background: rgba(176, 176, 176, 0.8);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#query-field {
    background: white;
    border-radius: 25px;
    border: none;
    width: 300px;
    outline: none;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit-field {
    background: white;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 50px;
    cursor: pointer;
    color: #6B7373;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 250ms linear;
}

#submit-field:hover {
    background: #6B7373;
    color: white;
}

#chat-area {
    padding: 20px;
    max-height: 60vh;
    overflow: auto;
}

#chat-placeholder {
    position: fixed;
    bottom: 0;
    right: 5vw;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #EFEFEF;
    width: 500px;
    height: 30px;
    cursor: pointer;
    background: rgba(176, 176, 176, 0.8);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 2px 2px 20px #222;
}

.mlh-logo {
    background: url("/public/images/mlh-logo-color.svg");
    background-size: cover;
    width: 180px;
    height: 76px;
    filter: drop-shadow(1px 1px 10px #3e3e3e);
}

.logo-push {
    width: 1px;
    height: 20vh;
}

.logo-push-chat {
    width: 1px;
    height: 10px;
}

.logo-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font: 30px "Outage", Serif;
    color: #EFEFEF;
    margin-top: 3px;
    z-index: 999;
    /* Move text above logo */
    user-select: none;
    text-shadow: 2px 2px 20px #222;
}

.landing {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background: #6B7373 url("/public/images/landing-bg.svg") no-repeat left bottom;
    background-size: contain;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-info {
    font-size: 18px;
    text-indent: 0;
    padding: 0;
    color: #EFEFEF;
    margin: 15px 0 0;
    text-shadow: 2px 2px 4px #000000;
}

.landing-button {
    padding: 15px;
    text-transform: uppercase;
    background: #EFEFEF;
    text-align: center;
    width: 410px;
    height: 20px;
    line-height: 20px;
    color: #6B7373;
    border-radius: 50px;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trust-badge {
    width: 100px;
    height: 177px;
    background: url("/public/images/mlh-trust-badge-2019-white.svg") no-repeat;
    background-size: cover;
    position: absolute;
    right: 5vw;
    top: 0;
    filter: drop-shadow(2px 2px 5px #222);
}

.message-from {
    width: 50%;
    background: white;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    color: #282828;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message-to {
    width: 50%;
    background: white;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    margin-left: auto;
    margin-bottom: 10px;
    color: #282828;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #6B7373;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-title {
    width: 100%;
    font: 64px "Outage", Serif;
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 20px #919191;
}

.about-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-image-1,
.about-image-2,
.about-image-3,
.about-image-4 {
    width: calc(20vw - 40px);
    height: calc(40vh - 40px);
    min-width: 350px;
    min-height: 350px;
    margin: 20px;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-image-1 {
    background-image: url("/public/images/1.jpeg");
}

.about-image-2 {
    background-image: url("/public/images/2.jpeg");
}

.about-image-3 {
    background-image: url("/public/images/3.jpeg");
}

.about-image-4 {
    background-image: url("/public/images/4.jpeg");
}

.about-info {
    flex: 1;
    margin-top: 20px;
    font-size: 26px;
    padding: 30px;
}

.schedule {
    background-color: #6B7373;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #EFEFEF;
}

.schedule-title {
    width: 100%;
    font: 64px "Outage", Serif;
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 20px #222;
}

.schedule-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    font-size: 24px;
}

.schedule-wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.schedule-day {
    padding: 15px;
    background: #EFEFEF;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #6B7373;
    border-radius: 50px;
    margin: 25px 10px 50px;
}

.schedule-info {
    padding: 15px;
    background: #EFEFEF;
    text-align: center;
    line-height: 20px;
    color: #6B7373;
    border-radius: 20px;
    margin: 25px 10px 50px;
    min-height: calc(100vh - 350px);
}

.schedule-info table {
    width: 100%;
    padding: 20px;
}

.schedule-info table td {
    padding: 10px;
}

.schedule-entry-info {
    text-align: right;
}

.schedule-entry-time {
    text-align: left;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#watch {
    font-size: 1em;
    position: relative
}

#watch .frame-face {
    position: relative;
    width: 30em;
    height: 30em;
    margin: 2em auto;
    border-radius: 15em;
    background: -webkit-linear-gradient(top, #f9f9f9, #666);
    background: -moz-linear-gradient(top, #f9f9f9, #666);
    background: linear-gradient(to bottom, #f9f9f9, #666);
    box-shadow: rgba(0, 0, 0, .8) .5em .5em 4em;
}

#watch .frame-face:before {
    content: '';
    width: 29.4em;
    height: 29.4em;
    border-radius: 14.7em;
    position: absolute;
    top: .3em;
    left: .3em;
    background: -webkit-linear-gradient(135deg, rgba(246, 248, 249, 0) 0%, rgba(229, 235, 238, 1) 50%, rgba(205, 212, 217, 1) 51%, rgba(245, 247, 249, 0) 100%), -webkit-radial-gradient(center, ellipse cover, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 65%, rgba(205, 212, 217, 1) 66%, rgba(245, 247, 249, 1) 100%);
    background: -moz-linear-gradient(135deg, rgba(246, 248, 249, 0) 0%, rgba(229, 235, 238, 1) 50%, rgba(205, 212, 217, 1) 51%, rgba(245, 247, 249, 0) 100%), -moz-radial-gradient(center, ellipse cover, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 65%, rgba(205, 212, 217, 1) 66%, rgba(245, 247, 249, 1) 100%);
    background: linear-gradient(135deg, rgba(246, 248, 249, 0) 0%, rgba(229, 235, 238, 1) 50%, rgba(205, 212, 217, 1) 51%, rgba(245, 247, 249, 0) 100%), radial-gradient(ellipse at center, rgba(246, 248, 249, 1) 0%, rgba(229, 235, 238, 1) 65%, rgba(205, 212, 217, 1) 66%, rgba(245, 247, 249, 1) 100%);
}

#watch .frame-face:after {
    content: '';
    width: 28em;
    height: 28em;
    border-radius: 14.2em;
    position: absolute;
    top: .9em;
    left: .9em;
    box-shadow: inset rgba(0, 0, 0, .2) .2em .2em 1em;
    border: .1em solid rgba(0, 0, 0, .2);
    background: -webkit-linear-gradient(top, #fff, #ccc);
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: linear-gradient(to bottom, #fff, #ccc);
}

#watch .minute-marks li {
    display: block;
    width: .2em;
    height: .6em;
    background: #929394;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.4em 0 0 -.1em;
}

#watch .minute-marks li:first-child {
    transform: rotate(6deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(2) {
    transform: rotate(12deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(3) {
    transform: rotate(18deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(4) {
    transform: rotate(24deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(5) {
    transform: rotate(36deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(6) {
    transform: rotate(42deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(7) {
    transform: rotate(48deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(8) {
    transform: rotate(54deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(9) {
    transform: rotate(66deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(10) {
    transform: rotate(72deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(11) {
    transform: rotate(78deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(12) {
    transform: rotate(84deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(13) {
    transform: rotate(96deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(14) {
    transform: rotate(102deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(15) {
    transform: rotate(108deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(16) {
    transform: rotate(114deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(17) {
    transform: rotate(126deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(18) {
    transform: rotate(132deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(19) {
    transform: rotate(138deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(20) {
    transform: rotate(144deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(21) {
    transform: rotate(156deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(22) {
    transform: rotate(162deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(23) {
    transform: rotate(168deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(24) {
    transform: rotate(174deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(25) {
    transform: rotate(186deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(26) {
    transform: rotate(192deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(27) {
    transform: rotate(198deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(28) {
    transform: rotate(204deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(29) {
    transform: rotate(216deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(30) {
    transform: rotate(222deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(31) {
    transform: rotate(228deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(32) {
    transform: rotate(234deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(33) {
    transform: rotate(246deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(34) {
    transform: rotate(252deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(35) {
    transform: rotate(258deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(36) {
    transform: rotate(264deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(37) {
    transform: rotate(276deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(38) {
    transform: rotate(282deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(39) {
    transform: rotate(288deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(40) {
    transform: rotate(294deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(41) {
    transform: rotate(306deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(42) {
    transform: rotate(312deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(43) {
    transform: rotate(318deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(44) {
    transform: rotate(324deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(45) {
    transform: rotate(336deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(46) {
    transform: rotate(342deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(47) {
    transform: rotate(348deg) translateY(-12.7em)
}

#watch .minute-marks li:nth-child(48) {
    transform: rotate(354deg) translateY(-12.7em)
}

#watch .digits {
    width: 30em;
    height: 30em;
    border-radius: 15em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15em;
}

#watch .digits li {
    font-size: 1.6em;
    display: block;
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 1.6em;
    text-align: center;
    margin: -.8em 0 0 -.8em;
    font-weight: bold;
}

#watch .digits li:nth-child(1) {
    transform: translate(3.9em, -6.9em)
}

#watch .digits li:nth-child(2) {
    transform: translate(6.9em, -4em)
}

#watch .digits li:nth-child(3) {
    transform: translate(8em, 0)
}

#watch .digits li:nth-child(4) {
    transform: translate(6.8em, 4em)
}

#watch .digits li:nth-child(5) {
    transform: translate(3.9em, 6.9em)
}

#watch .digits li:nth-child(6) {
    transform: translate(0, 8em)
}

#watch .digits li:nth-child(7) {
    transform: translate(-3.9em, 6.9em)
}

#watch .digits li:nth-child(8) {
    transform: translate(-6.8em, 4em)
}

#watch .digits li:nth-child(9) {
    transform: translate(-8em, 0)
}

#watch .digits li:nth-child(10) {
    transform: translate(-6.9em, -4em)
}

#watch .digits li:nth-child(11) {
    transform: translate(-3.9em, -6.9em)
}

#watch .digits li:nth-child(12) {
    transform: translate(0, -8em)
}

#watch .digits:before {
    content: '';
    width: 1.6em;
    height: 1.6em;
    border-radius: .8em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.8em 0 0 -.8em;
    background: #121314;
}

#watch .digits:after {
    content: '';
    width: 4em;
    height: 4em;
    border-radius: 2.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.1em 0 0 -2.1em;
    border: .1em solid #c6c6c6;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(200, 200, 200, 0), rgba(190, 190, 190, 1) 90%, rgba(130, 130, 130, 1) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(200, 200, 200, 0), rgba(190, 190, 190, 1) 90%, rgba(130, 130, 130, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(200, 200, 200, 0), rgba(190, 190, 190, 1) 90%, rgba(130, 130, 130, 1) 100%);
}

@keyframes hours {
    to {
        transform: rotate(335deg)
    }
}

#watch .hours-hand {
    width: .8em;
    height: 7em;
    border-radius: 0 0 .9em .9em;
    background: #232425;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -.8em -.4em;
    box-shadow: #232425 0 0 2px;
    transform-origin: 0.4em 6.2em;
    transform: rotate(-25deg);
    animation: hours 43200s linear 0s infinite;
}

#watch .hours-hand:before {
    content: '';
    background: inherit;
    width: 1.8em;
    height: .8em;
    border-radius: 0 0 .8em .8em;
    box-shadow: #232425 0 0 1px;
    position: absolute;
    top: -.7em;
    left: -.5em;
}

#watch .hours-hand:after {
    content: '';
    width: 0;
    height: 0;
    border: .9em solid #232425;
    border-width: 0 .9em 2.4em .9em;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: -3.1em;
    left: -.5em;
}

@keyframes minutes {
    to {
        transform: rotate(422deg)
    }
}

#watch .minutes-hand {
    width: .8em;
    height: 12.5em;
    border-radius: .5em;
    background: #343536;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -1.5em -.4em;
    box-shadow: #343536 0 0 2px;
    transform-origin: 0.4em 11em;
    transform: rotate(62deg);
    animation: minutes 3600s linear 0s infinite;
}

@keyframes seconds {
    to {
        transform: rotate(480deg)
    }
}

#watch .seconds-hand {
    width: .2em;
    height: 14em;
    border-radius: .1em .1em 0 0/10em 10em 0 0;
    background: #c00;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: 0 0 -2em -.1em;
    box-shadow: rgba(0, 0, 0, .8) 0 0 .2em;
    transform-origin: 0.1em 12em;
    transform: rotate(120deg);
    animation: seconds 60s steps(60, end) 0s infinite;
}

#watch .seconds-hand:after {
    content: '';
    width: 1.4em;
    height: 1.4em;
    border-radius: .7em;
    background: inherit;
    position: absolute;
    left: -.65em;
    bottom: 1.35em;
}

#watch .seconds-hand:before {
    content: '';
    width: .8em;
    height: 3em;
    border-radius: .2em .2em .4em .4em/.2em .2em 2em 2em;
    box-shadow: rgba(0, 0, 0, .8) 0 0 .2em;
    background: inherit;
    position: absolute;
    left: -.35em;
    bottom: -3em;
}

#watch .digital-wrap {
    width: 9em;
    height: 3em;
    border: .1em solid #222;
    border-radius: .2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 3em 0 0 -4.5em;
    overflow: hidden;
    background: #4c4c4c;
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #0f0f0f 100%);
    background: -moz-linear-gradient(top, #4c4c4c 0%, #0f0f0f 100%);
    background: -ms-linear-gradient(top, #4c4c4c 0%, #0f0f0f 100%);
    background: -o-linear-gradient(top, #4c4c4c 0%, #0f0f0f 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%, #0f0f0f 100%);
}

#watch .digital-wrap ul {
    float: left;
    width: 2.85em;
    height: 3em;
    border-right: .1em solid #000;
    color: #ddd;
    font-family: Consolas, monaco, monospace;
}

#watch .digital-wrap ul:last-child {
    border: none
}

#watch .digital-wrap li {
    font-size: 1.5em;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    left: 1px;
}

#watch .digit-minutes li {
    animation: dsm 3600s steps(60, end) 0s infinite;
}

#watch .digit-seconds li {
    animation: dsm 60s steps(60, end) 0s infinite;
}

@keyframes dsm {
    to {
        transform: translateY(-120em)
    }
}


/* explode */

.button {
    color: #fff;
    font-size: 15px;
    background: #248ccb;
    display: inline-block;
    padding: 8px 14px 9px;
    text-decoration: none;
    border-radius: 2px;
    border-bottom: 2px solid #07559f;
    border-right: 2px solid #07559f;
}

.button:active {
    border-bottom: 2px solid #248ccb;
    border-right: 2px solid #248ccb;
}

ul.deviceableLogo {
    display: block;
    position: relative;
    overflow: hidden;
    width: 158px;
    height: 158px;
    opacity: 1;
    padding: 0;
    margin: 0;
    margin-left: 120px;
    margin-top: 20px;
    perspective: 800;
    -webkit-perspective: 800;
    background-image: url(http://makemodo.com/deviceableLogo.jpg1);
    background-size: cover;
    transition: all 1200ms ease-in-out;
    cursor: move;
}

ul.deviceableLogo li {
    list-style: none;
    display: block;
    position: absolute;
    transition: all 1200ms ease-in-out;
}

ul.deviceableLogo .top {
    width: 45px;
    height: 45px;
    transform: rotate3d(1, 0, 0, 55deg) rotate3d(0, 0, 1, 45deg);
    transform-origin: center center;
}

ul.deviceableLogo .ll {
    height: 36px;
    transform: rotate3d(0, 0, 1, 28deg) skew(26deg);
    transform-origin: left center 0;
    width: 36px;
}

ul.deviceableLogo .lr {
    height: 32px;
    transform: rotate3d(0, 0, 1, 92deg) skew(30deg);
    transform-origin: left center 0;
    width: 40px;
}

ul.deviceableLogo .s1 {
    background-color: #13a64b;
    top: -1px;
    left: 56px;
}

ul.deviceableLogo .s2 {
    background-color: #07559F;
    left: 32px;
    top: 14px;
}

ul.deviceableLogo .s3 {
    background-color: #248ccb;
    left: 47px;
    top: 24px;
}

ul.deviceableLogo .s4 {
    background-color: #8DC442;
    left: 95px;
    top: 14px;
}

ul.deviceableLogo .s5 {
    background-color: #cadb2d;
    left: 110px;
    top: 24px;
}

ul.deviceableLogo .s6 {
    background-color: #66348d;
    top: 56px;
    left: 24px;
}

ul.deviceableLogo .s7 {
    background-color: #f5e514;
    top: 56px;
    left: 87px;
}

ul.deviceableLogo .s8 {
    background-color: #942e78;
    left: 14px;
    top: 80px;
}

ul.deviceableLogo .s9 {
    background-color: #be2661;
    left: 62px;
    top: 71px;
}

ul.deviceableLogo .s10 {
    background-color: #f06927;
    left: 77px;
    top: 81px;
}

ul.deviceableLogo .s11 {
    background-color: #F79324;
    left: 125px;
    top: 72px;
}

ul.deviceableLogo .s12 {
    background-color: #ea292a;
    top: 112px;
    left: 54px;
}


/** Optional Exploding Animations for fun **/


/** Rotation extra **/

ul.deviceableLogo.explode.rotate {
    transform: rotate(720deg);
    transition: all 2200ms ease-in-out;
}

ul.deviceableLogo.explode.rotate li {
    transition: all 2200ms ease-in-out;
}


/** Move block pieces off screen **/

ul.deviceableLogo.explode {
    opacity: 0;
}

ul.deviceableLogo.explode .s1 {
    top: -100px;
}

ul.deviceableLogo.explode .s2 {
    left: -100px;
}

ul.deviceableLogo.explode .s3 {
    top: -140px;
    left: -240px;
}

ul.deviceableLogo.explode .s4 {
    top: -140px;
    left: 240px;
}

ul.deviceableLogo.explode .s5 {
    left: 440px;
}

ul.deviceableLogo.explode .s6 {
    top: 400px;
}

ul.deviceableLogo.explode .s7 {
    top: 200px;
}

ul.deviceableLogo.explode .s8 {
    left: -220px;
    top: 440px;
}

ul.deviceableLogo.explode .s9 {
    left: -120px;
    top: 400px;
}

ul.deviceableLogo.explode .s10 {
    left: 200px;
    top: 400px;
}

ul.deviceableLogo.explode .s11 {
    left: 620px;
    top: 440px;
}

ul.deviceableLogo.explode .s12 {
    top: 600px;
}